<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/LoginRegisterStyle.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="/js/LoginRegisterScript.js"></script>
</body>
</html>
